[Desktop Entry]
Name=Bluedia
GenericName=Media Controller
Comment=Control Bluetooth media playback with style
Categories=AudioVideo;Audio;Player;GTK;
Exec=bluedia
Icon=bluedia
Terminal=false
Type=Application
Keywords=Bluetooth;Media;Controller;Music;Player;Audio;
Version=1.0.0
X-GNOME-Gettext-Domain=io.codes-by-chetan.bluedia
X-GNOME-UsesNotifications=true
