[Desktop Entry]
Version=1.0
Type=Application

Name=Bluetooth Media Controller
Comment=A  tool to control Bluetooth audio devices and display the currently playing track with playback controls. It uses bluetoothctl to manage Bluetooth connections and interacts with the audio devices.
Categories=Utility;GTK;

Icon=bluetooth-media-controller
Exec=bluetooth-media-controller
Terminal=false