[Desktop Entry]
Name=Bluedia
GenericName=Media Controller
Comment=Control Bluetooth media playback with style
Categories=AudioVideo;Audio;Player;GTK;
Exec=bluedia
Icon=io.codes.by.chetan.bluedia
Terminal=false
Type=Application
Keywords=Bluetooth;Media;Controller;Music;Player;Audio;
StartupNotify=true
X-GNOME-Gettext-Domain=io.codes.by.chetan.bluedia
X-GNOME-UsesNotifications=true
